/Debug/
.settings/language.settings.xml
*.LAUNCH
.idea/
build/
Debug/
bin/
.code_review_properties
.mxproject
.project
startup.bat
generated/
venv/
*.yaml
BUILD.BAT
CLEAN.BAT
cmake-build-debug/
Avionics-Flight-Computer.elf.launch
Avionics-Flight-Computer_converter.log